<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employée</title>
</head>
<body>

<h1>Fiche employée</h1>

<a href="/employee/home">home</a>

<div><span>Nom: </span><span th:text="${employee.get().name}"></span></div>
<div><span>Adresse: </span><span th:text="${employee.get().address}"></span></div>
<div><span>Courriel: </span><span th:text="${employee.get().email}"></span></div>
<div><span>Téléphone: </span><span th:text="${employee.get().phone}"></span></div>
<div><span>Fonction: </span><span th:text="${employee.get().fonction}"></span></div>


</body>
</html>